.popupoverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index:5;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 600px;
    background: #ffffff;
    z-index: 100000;
    padding: 50px 0;
    @media #{$mobile} {
        width: 80%;
    }
    &__container {
        padding: 0 20px;
    }

    &__image {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    &__close {
        background: #000000;
        border: none;
        width: 30px;
        height: 25px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
