
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    align-self: stretch;

    align-items: center;
    text-align: center;
    @media #{$mobile} {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &__image {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    &__item {
        margin: 5px;
    }
}
.caption {
    color: #000;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
}
